#mydocs_block{
    display: block;
    min-width: 300px;
    user-select: none;
    padding: 5px;
}
#mydocs_block .folder{
    display: block;
    text-align: left;
    padding: 10px;
    padding-top: 5px;
    height: 18px;
    text-decoration: none;
    font-family: Caladea;
    color:black;
    font-size: 18px;
}
#mydocs_block .folder img{
    height: 100%;
    margin-right: 10px;
    position: relative;
    top:3px;
}
#mydocs_block .folder:hover{
    cursor: pointer;
}
#mydocs_block .folder:hover{
    color:white;
}